@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 1392px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.box_one {
  width: 100%;
  max-width: 1440px;
  height: 600px;
  position: relative;
}

.box_two {
  width: 100%;
  max-width: 1440px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: 0.3s;
  cursor: pointer;
}

.icon_box {
  display: flex;
  gap: 20px;
}

.text_4 {
  display: flex;
  width: 730px;
  height: 84px;
  justify-content: space-between;
}

.box_three {
  width: 100%;
  max-width: 1440px;
  height: 244px;
  background-color: rgba(213, 150, 108, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_three {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 84px;
}

.p4 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(21, 21, 21, 0.8);
}

h4 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  color: rgba(21, 21, 21, 1);
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7486%)
    hue-rotate(149deg) brightness(106%) contrast(104%);
}

h1 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: white;
  width: 200px;
}

h3 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(213, 150, 108, 1);
}

.portp {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: Light;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.8);
}

.header {
  max-width: 1110px;
  width: 1110px;
  height: 316px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.button_one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 72px;
  border: none;
  background-color: black;
  cursor: pointer;
}

.buttonbox:hover .button_one {
  background-color: rgba(213, 150, 108, 1);
}

.buttonbox:hover .button_two {
  background-color: black;
}

.button_two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 72px;
  border: none;
  background-color: rgba(213, 150, 108, 1);
  cursor: pointer;
}

.buttonbox {
  display: flex;
  position: absolute;
  top: 0;
  left: 212px;
}

span {
  color: black;
}

.location {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3.64px;
  color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

.tag {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 316px;
  width: 400px;
}

@media (max-width: 1024px) {
  .main {
    max-width: 768px;
    width: 100%;
    height: 1252px;
  }

  .map {
    max-width: 768px;
    width: 100%;
    height: 600px;
  }

  .buttonbox {
    top: 0;
    left: 50px;
  }

  h1 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 900;
    font-size: 55px;
    line-height: 50px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .portp {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
  }

  h3 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .tag {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
  }

  .header {
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
    align-items: start;
  }

  h4 {
    font-size: 25px;
  }

  .p4 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
  }

  .main_three {
    display: flex;
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
  }

  .text_4 {
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .main {
    max-width: 375px;
    width: 100%;
    height: 1379px;
  }

  .map {
    max-width: 375px;
    width: 100%;
    height: 600px;
  }

  .buttonbox {
    top: 0;
    left: 0;
  }

  h1 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 400px;
  }

  .portp {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
  }

  h3 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .tag {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
  }

  .header {
    max-width: 300px;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }

  h4 {
    font-size: 25px;
  }

  .p4 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 0px;
  }

  .box_three {
    max-width: 375px;
    height: 336px;
    width: 100%;
  }

  .main_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    height: 260px;
    width: 100%;
  }

  .text_4 {
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    height: 400px;
  }
}
